version: "3.8"

services:
  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      - MONGO_URI=mongodb+srv://irfansabeen732:pnelope123@cluster0.7fvrp.mongodb.net/test?retryWrites=true&w=majority
    depends_on:
      - db
    volumes:
      - app_data:/app  # Adding app volume (if needed)

  db:
    image: mongo:latest
    container_name: mongo-db
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=test

volumes:
  mongo_data:
    driver: local
  app_data:  # Ensure app_data volume is defined
    driver: local
